.hero {
  position: relative;
}

.hero__graphic-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -20;
}

.hero__logo-wrapper {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: -10;
}

.hero__inner-wrapper {
  margin-top: 200px;
}

.hero__adv-wrapper {
  margin-top: 100px;
}
