.bd-reviews-img img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;

  margin-right: 1rem;
}

.bd-services-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #8f5b5b;
}
