// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$color-overlay: rgba(#000000, 0.4);

// Typography
// ---------------------------------

$fz-default: 16px;
$ff-default: "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease-in;
$trans-default: 0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1240: 1240px;
$vp-1440: 1440px;